@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');

html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}

button{
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
body{
    position: relative;
    color: #151618;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul{
    list-style: none;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    @media (max-width: 680px){
        padding: 0 10px;
    }
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 140px;
    padding: 30px 0;
    @media (max-width: 1000px){
        min-height: auto;
    }
    @media (max-width: 768px){
        padding-left: 64px;
        padding-right: 64px;
    }
    @media (max-width: 680px){
        padding-left: 0;
        padding-right: 0;
    }
    @media(max-width:480px){
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.logo{
    margin-bottom: 35px;
    @media (max-width: 1000px){
        margin-bottom: 0;
    }
    @media (max-width: 768px){
        margin-left: auto;
        margin-right: 130px;
    }
    @media(max-width:480px){
        margin-right: 65px;
        img {
          width: 40px;  
        }
    }
    @media(max-width:480px){
        margin-right: 75px;
    }
    @media(max-width:360px){
        margin-right: 50px;
    }
}
.menu--close{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
 
}
.menu--close.menu--open{
    display: block;
}
.menu{
    margin-left: 85px;
    @media (max-width: 1000px){
        margin-left: 60px;
        margin-right: auto;
    }
    @media (max-width: 768px){
        order: -1;
        margin-right: 0;
        margin-left: 0;
    }
    &__btn{
        display: none;
        position: relative;
        width: 40px;
        height: 19px;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
        span {
            height: 2px;
            background-color: #000;
            width: 100%;
        }
        @media (max-width: 768px){
            display: flex;
        }
    }
    &__close{
        display: none;
        @media(max-width:768px){
            display: block;
        }
    }
    &__close-btn{
        position: absolute;
        right: 20px;
        top: 20px;
    }
    &__list{
        display: flex;
        align-items: center;
        gap: 0 65px;
        position: relative;
        z-index: 3;
        @media (max-width: 880px){
            gap: 0 35px;
        }
        @media (max-width: 768px){
            top: 0;
            left: 0;
            right: 0;
            width: 480px;
            margin: 0 auto;
            background-color: #fff;
            position: absolute;
            display: block;
            text-align: center;
            padding-top: 60px;
            transform: translateY(-100%);
            transition: transform .5s ease;
            &.menu__list.menu__list--open{
                transform:translateY(0%);
            }
        }
        @media(max-width:480px){
            max-width: 360px;
        }
    }
    &__item{
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media(max-width:768px){
            margin-bottom: 30px;
            font-family: 'Cormorant', sans-serif;
            font-size: 24px;
        }
    }
}

.mobile-nav{
    display: none;
    @media(max-width:768px){
        display: block;
    }
}
.mobile-menu{
    padding-top: 60px;
    margin: 60px 30px;
    border-top:2px solid #F7F2EA;
    font-size: 13px;
    &__item{
        margin-bottom: 35px;
    }
}

.mobile-actions{
    background-color: #F7F2EA;
    height: 60px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-actions{
    display: flex;
    align-items: center;
    gap: 0 20px;
    &__item--search{
        margin-left: 80px;
        @media (max-width: 1000px){
            margin-left: 30px;
        }
        @media(max-width:360px){
            margin-left: 0;
        }
    }
}

.top{
    padding-top: 54px;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/top-bg.jpg');
    &__inner{
        font-family: 'Cormorant', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        color: #fff;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 789px;
        @media (max-width: 768px){
            max-width: 684px;
        }
        @media(max-width:360px){
            max-width: 340px;
        }
    }
    &__title{
        font-size: 60px;
        margin-top: 200px;
        margin-bottom: 20px;
        @media(max-width: 680px){
            font-size: 40px;
            line-height: normal;
        }
        @media(max-width:360px){
            font-size: 24px;
            margin-bottom: 10px;
        }
    }
    &__text{
        font-size: 24px;
        max-width: 557px;
        line-height: normal;
        margin-bottom: 48px;
        @media(max-width:360px){
            font-size: 13px;
            margin-bottom: 30px;
            font-weight: 300;
            max-width: 332px;
        }
    }
}

.blockquote{
    margin: 150px auto;
    display: block;
    color: #151618;
    text-align: center;
    font-family: 'Cormorant', sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    max-width: 704px;
    @media (max-width: 1000px){
        margin-top: 120px;
        margin-bottom: 135px;
    }
    @media (max-width: 768px){
        max-width: 640px;
    }
    @media(max-width:680px){
        font-size: 16px;
        max-width: 376px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    @media(max-width:360px){
        max-width: 340px;
        margin-top: 70px;
        margin-bottom: 80px;
    }
}

@media (max-width: 1000px){

}
@media (max-width: 768px){

}
@media (max-width: 480px){

}
@media (max-width: 360px){

}